<div class="page-header">
  <h1>Edit Contact</h1>
</div>

{{#em-form model=model}}
  {{em-input property="first" label="First Name" placeholder="Enter first name"}}
  {{em-input property="last" label="Last Name" placeholder="Enter last name"}}
{{/em-form}}
